body, html{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: fontInk;
  src: url(/static/fonts/IstokWeb-Regular.ttf);
}



.background_fixed{
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  background-image: url('./../img/texture-2.jpg');
  background-size: cover;
}

.container{
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  position: absolute;
  z-index: 5;
  display: flex;
}

.container::-webkit-scrollbar{
  background-color:#00217547;
  height: 10px;
}

.container::-webkit-scrollbar-thumb{
  background-color:#0077ff;
  border-radius: 10px;
}

#welcome{
  min-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-around;
}

.flex-home{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-home h1{
  font-size: 1.3rem;
  color: white;
  font-family: fontInk;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.flex-home a{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#00217547;
  border: 1px solid #0077ff7e;
}

.flex-home a:hover{
  background-color:#0021759a;

  .flecha{
    transform: scale(1.1);
    animation: 1s ease-in-out;
  }
}

.flecha{
  width: 20px;
}

.space-logo{
  width: 80%;
}

.logo-img{
  width: 45%;
}

#main_layout{
  min-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  font-family: fontInk;
}


.layout-sec{
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-brand{
  width:100px;
}

.input-sec{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;


.input-box{
  width: 90%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.space-function{
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#00217547;
  border: 1px solid #0077ff7e;
  border-radius: 100px;
  padding-left: 8px;
  backdrop-filter: blur(10px);
}

.select-styles{
  width: 15%;
  height: 80%;
  border-radius: 100px;
  font-size: 1.0rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.6px;
  background-color:#0077ff63;
  border: 1px solid #0077ff;
  color: white;
  cursor: pointer;
}


.input{
  width: 85%;
  height:100%;
  background-color: transparent;
  color:white;
  border: none;
  font-size: 1.0rem;
  padding-left: 20px;
  border-radius: 100px;
}



.btn-run{
  height: 60px;
  width:60px;
  border-radius: 50%;
  background-color:#0077ff63;
  border: 1px solid #0077ff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.flecha-two{
  width: 12px;
  transform: rotate(-90deg);
}

.content-actions{
  width: 90%;
  height: 80%;
  background-color:#00217538;
  border: 1px solid #0077ff7e;
  border-radius: 20px;
  backdrop-filter: blur(7px);
}

.btn-actions{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.btn-actions button{
  padding: 10px 15px;
  margin: 10px;
  border-radius: 50px;
  background-color:#0077ff33;
  border: 1px solid #0077ff;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size:0.7rem;
  cursor: pointer;
}

.history-sec{
  width:20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.history-sec p{
  height: 10%;
  color: white;
  font-size:1.0rem;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-hist{
  width:100%;
  height: 90%;
  background-color:#00217538;
  border: 1px solid #0077ff7e;
  border-radius: 20px;
  backdrop-filter: blur(7px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.item-story{
  width: 80%;
  height: 45px;
  background-color:#0077ff63;
  border: 1px solid #0077ff;
  margin-top: 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-story span{
  width: 85%;
  font-size: 0.8rem;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: 1px;
  margin-top: 5px;
}